* {
	margin: 0;
	padding: 0;
}
 .margT
 {
 margin: 0px 0px 0px 10px;
 }
body {

	background: url('images/background.png') top left repeat;
	margin: 70px 20px 40px 20px;
}
.pageSup{
	margin: 40px 40px 40px 40px;
}

ul>li {
	margin: 0 0 0 10px;
  line-height: 1.5;
}
ol>li{
	 line-height: 2;
}
.blockSup{
	display: flex;

	 justify-content: flex-start;
}
.catalog
{	display: flex;
	padding: 10px 0px 0 10px;
	font-size: 20px;
	flex-flow: row wrap;
	 text-align: center;
    justify-content: flex-start;
}
.page-title{
	font-size: 20px;
}
.page-data{
	display: flex;
	margin: 0 0 10px 0;
}
.page-margin{
	margin: 0 10px 0 0;
}
.cen
{	width: 240px;
	margin: 0 10px 20px 0;
}
.form{
	display: flex;
	align-items: center;
	width: 30%;
}
.form form {
  max-width:800px;
  padding:50px 70px;
  border-radius:10px;
  background-color:#c0c0c0;
}
#registration_container {
	width: 357px;
	height: 650px;
	margin: 100px auto;
	background: url('images/login_bg1.png') top left no-repeat;
}
/* ����� ���� header */
.header-top{
	line-height: 24px;
	background: #eee;
	text-transform: uppercase;
	z-index: 9999;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	font-family: calibri;
	font-size: 16px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

.header-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	text-decoration:none;
}
.header-right{
	float: right;
	margin: 0 10px 0 0;
}
.header-top a:hover{
	background: #fff;
}


